*,
*::before,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #bdc3c7;
    font-family: "Verdana", sans-serif;
}

button[type="button"] {
    position: relative;
    background-color: #2d3436;
    border: 1px solid #2d3436;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 10px 15px;
    margin-right: 16px;
    cursor: pointer;
}

button[type="button"]::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #2d3436;
    border: 1px solid #2d3436;
    border-radius: 12px;
    z-index: -1;
}

button[type="button"]:hover::before {
    animation: btnpulse 0.9s linear infinite;
}

@keyframes btnpulse {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(1.3);
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: calc(100vw - 128px);
    border: 3px solid #2d3436;
    border-radius: 8px;
    box-shadow: 0px 0px 12px #2d3436;
    margin: 32px 0px;
    padding: 50px;
}

h1 {
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 24px;
    color: #2d3436;
    margin-bottom: 32px;
}

.magic-text {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #3B3B98;
    visibility: hidden;
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.5s linear, opacity 0.5s linear;
}

.simple-text{
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}